

{% block contenido %}

<h2 class="font-weight-light">Observaciones</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ observacionesForm.as_table }} 
    <input type="hidden" name="observacion_submit" value="1">
    <input type="submit" value="Agregar Observacion">
</form>

<h2>Buscar Observaciones</h2>

<form method="get" action="{% url 'observacion' %}">
    {{ search_form.as_p }}
    <input type="submit" value="Buscar">
</form>

<h2>Lista de Observaciones en DB</h2>

<p>Cantidad de observaciones: {{ observaciones.count }}</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">nombre</th>
        </tr>
    </thead>
    <tbody>
        {% for observacion in observaciones %}
        <tr>
            <td>{{ observacion.nombre }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay observaciones en la base de datos.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}
